.ripple {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #bbe4e9;
  position: relative;
}
.image {
  display: block;
  margin: auto;
  padding: 5px;
  width: 10px;
}
.image-style {
  width: 300px;
  border: none;
  border-radius: 5px;
}
.info-container {
  max-width: 550px;
  background: none;
}
.about-button {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 8px;
  border: 2px solid #53a8b6;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  background: #53a8b6;
  color: white;
  font-size: bold;
  cursor: pointer;
  text-decoration: none;
}
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: #e3f6f5;
  border-top: 4px solid #5585b5;
  border-bottom: 4px solid #5585b5;
}
.feature {
  flex: 1 1 300px;
  margin: 20px;
  padding: 30px;
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 400px;
  padding: 40px 40px 20px 50px;
  background-color: #333;
  border-top: #5585b5;
  color: whitesmoke;
  text-decoration: none;
}

.footer div {
  flex: 1 1 200px;
}
.about {
  text-decoration: none;
}
li {
  text-decoration: none;
  color: whitesmoke;
  list-style: none;
}
ul {
  color: whitesmoke;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
