.ripple {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #bbe4e9;
  position: relative;
}
.ripple-info {
  display: block;
  margin: auto;
  padding: 0px 0px 20px 0px;
  font-size: 55px;
}
.image {
  display: block;
  margin: auto;
  padding: 5px;
  width: 10%;
}
.image-style {
  width: 300px;
  border: none;
  border-radius: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.info-container {
  max-width: 550px;
  background: none;
  padding: 0px 0px 20px 0px;
}
.about-button {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 8px;
  border: 2px solid #53a8b6;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  background: #53a8b6;
  color: white;
  font-size: bold;
  cursor: pointer;
  text-decoration: none;
}
section {
  display: block;
}
.gallary-features {
  padding: 50px 20px;
  background-color: #e3f6f5;
  text-align: center;
  border-top: 4px solid #5585b5;
}
.Overall {
  font-size: 35px;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: #e3f6f5;

  border-bottom: 4px solid #5585b5;
}

.feature {
  flex: 1 1 400px;
  margin: 20px;
  padding: 30px;
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 400px;
  padding: 40px 40px 20px 50px;
  background-color: #333;
  border-top: 4px solid #5585b5;
  color: whitesmoke;
  text-decoration: none;
}

.footer div {
  flex: 1 1 200px;
}

li {
  list-style: none;
  margin-left: -40px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
.imagine-photos {
  padding: 20px;
  margin: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #e3f6f5;
}
.photo1 {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.photo2 {
  display: block;
  margin-top: 0px 0px 0px 0px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  padding: 0px 10px0px 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.photo3 {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.photo4 {
  display: block;

  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.photo5 {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.photo6 {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.photo7 {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.photo8 {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.gallary-images {
  font-size: 35px;
}
